body {
	background-color: #EEEEEE;
	font-family: sans-serif;
}

h1, h2, h3, h4 {
	margin: 0px;
}

p {
	margin: 5px;
}

#orange {
	color: orange;
}

#blue {
	color: blue;
}

#red {
	color: red;
}

#purple {
	color: purple;
}

.header-div {
	background-color: #FF6100;
	color: white;
	background-image: url("images/yellow-orange-gradient.gif");
	background-repeat: no-repeat;
	border:1px solid orange;
	clear: both;
	margin-bottom: 5px;
	box-shadow: 1px 1px 0px #000000;
    -webkit-box-shadow: 1px 1px 0px #000000;
    -moz-box-shadow: 1px 1px 0px #000000;
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=1, OffY=1, Color=#000000),
            progid:DXImageTransform.Microsoft.Chroma(Color='#ffffff');
}

.header-logo {
    text-decoration: none;
    color: white;
}

.main-content {
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
	background-color: white;
	border: 1px solid grey;
	box-shadow: 1px 1px 0px #000000;
    -webkit-box-shadow: 1px 1px 0px #000000;
    -moz-box-shadow: 1px 1px 0px #000000;
    filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=1, OffY=1, Color=#000000),
            progid:DXImageTransform.Microsoft.Chroma(Color='#ffffff');
}

.footer-div {
	background-color: #0026F9;
	color: white;
	background-image: url("images/blue-lightblue-gradient.gif");
	background-repeat: no-repeat;
	background-position: right;
	border: 1px solid #0094FF;
	clear: both;
	margin-top: 5px;
	box-shadow: 1px 1px 0px #000000;
    -webkit-box-shadow: 1px 1px 0px #000000;
    -moz-box-shadow: 1px 1px 0px #000000;
	zoom: 1;
    filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=1, OffY=1, Color=#000000),
            progid:DXImageTransform.Microsoft.Chroma(Color='#ffffff');
}

.alert-box {
	margin-bottom: 5px;
	width: 480px;
	background-color: #DD0000;
	background-image: url("images/alert-gradient.gif");
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid red;
	color: white;
	zoom: 1;
	box-shadow: 1px 1px 0px #000000;
    -webkit-box-shadow: 1px 1px 0px #000000;
    -moz-box-shadow: 1px 1px 0px #000000;
    filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=1, OffY=1, Color=#000000),
            progid:DXImageTransform.Microsoft.Chroma(Color='#ffffff');
}

.header-table {
	color: white;
	border: none;
}

.footer-table {
	color: white;
	border: none;
}

.alert-table {
	color: white;
	border: none;
}

#prebumbus-info {
	padding: 5px;
	background-color: white;
	border:1px solid #EEEEEE;
	margin: 5px;
}

#bumbus-info {
	padding: 5px;
	background-color: white;
	border:1px solid #EEEEEE;
	margin: 5px;
}

#grey-box {
	padding: 5px;
	background-color: white;
	border:1px solid #EEEEEE;
	margin: 5px 5px 15px 5px;
}

#orange-box {
	padding: 5px;
	background-color: white;
	border:1px solid orange;
	margin: 5px 5px 15px 5px;
}

#blue-box {
	padding: 5px;
	background-color: white;
	border:1px solid blue;
	margin: 5px 5px 15px 5px;
}

#purple-box {
	padding: 5px;
	background-color: white;
	border:1px solid purple;
    margin: 5px 5px 15px 5px;
}

#red-box {
	padding: 5px;
	background-color: white;
	border:1px solid red;
	margin: 5px 5px 15px 5px;
}

#bumbus-computer {
	padding: 5px;
	background-color: white;
	border:1px solid #EEEEEE;
	margin: 5px;
}

#bumbus-iway {
	padding: 5px;
	background-color: white;
	border:1px solid #EEEEEE;
	margin: 5px;
}

#bumbus-end {
	padding: 5px;
	background-color: white;
	border:1px solid #EEEEEE;
	margin: 5px;
}